**/.env
**/.env.ci
**/temp
.idea/**
**/__pycache__/**
.
services/sensors/app/__pycache__/main.cpython-312.pyc
services/sensors/app/__pycache__/sensors.cpython-312.pyc
services/sensors/app/test_pipewire.py
services/sensors/app/__pycache__/main.cpython-312.pyc
/.continue/
**/.venv